*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #252525;
}

.iconFile{
    width: 20px;
}

.container{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 500px;
    overflow: hidden ;
}

.container .button-content .buttonFiles{
    margin: 10px 10px;
    width: 800px;   
}

.container .button-content{
    display: flex;
    flex-direction: column;
}

.container .buttonFiles:active{
    transform: scale(.9);
}

.titleIndex{
    color: #fff;
}

.icon-button{
    width: 25px;
    position: relative;
    left: 10px;
}

@media screen and (max-width: 700px) {
    .container{
        padding: 20px 100px;
    }

    .container .buttonFiles{
        width: 80px;
    }

    .titleIndex{
        margin: 0px auto;
    }
}

/* mobile */
@media screen and (max-width: 500px){
    .container{
        width: 400px;
    }
}

@media screen and (max-width: 530px){
    .container{
        width:400px;
    }
}