*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #252525;
}

h2{
   text-align: center;
   position: relative;
   top: 20px; 
   color: #fff;
}

.titleUpload{
    color: rebeccapurple;
}

.container{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 100px auto;
    overflow: hidden;
}

.file-select {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 540px;
    cursor: pointer;
}
  
.file-select:active{
    transform: scale(.9);    
}

.file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* texto por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
  
.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}
  
#src-file1::before {
    content: 'Seleccionar Archivo 1';
}

.container .content-buttons{
    display: flex;
    flex-direction: column;
}

.container .content-buttons .buttonUploadFile{
    width: 200px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
}

@media screen and (max-width: 530px) {
    .container {
        width: 300px;
    }
}