doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link css
        link(rel="stylesheet", href="directorys.css")
        title Home Cloud - Directorys
    body 
        h1.title My Directorys
    div.container
