doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="uploadFile.css")
        title Home Cloud
    body 
        div.container
            form(action="/files", method="post" enctype="multipart/form-data") 
                input(type="file" name="file").file-select.file
                input(type="submit", value="Subir")
            script 
                Swal.fire({
                    icon: 'error'
                })
        script(src="./scripts/upload.js") 
        //- script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")